/auto-save-list
/custom.el~
/elpa/spinner-1.4.signed
/eshell/
/image-dired/
recentf~
/url/
/my-git-packages/org-present/
/.gitignore~
/bad/
/my-git-packages/benchmark-init-el/
/elpa/archives/gnu/archive-contents
/elpa/archives/gnu/archive-contents.signed
/elpa/archives/melpa-stable/archive-contents
/elpa/archives/org/archive-contents
/places
/recentf
